@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  color: #513726;
  font-family: "Open Sans", sans-serif;
}

html h1,
html h2,
html h3,
html h4,
body h1,
body h2,
body h3,
body h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.pao-button {
  background-color: #c40044;
  color: white;
  border: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.al-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-direction-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  background-color: #7b4d35 !important;
  position: relative;
  height: 120px;
}

nav a {
  color: white;
}

.logo-img {
  width: 140px;
  height: auto;
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.nav-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.nav-img img {
  width: 100%;
  height: auto;
}

.bgimage {
  width: 100%;
  height: 600px;
  background: local("./assets/imgs/BANNER.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.bgimage h5 {
  color: white;
  text-shadow: 2px 2px #333;
}

.containerStyle {
  height: 100%;
}

.containerStyle .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicos {
  margin: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicos h3 {
  text-align: center;
  padding-bottom: 1rem;
}

.servicos a {
  background-color: #c40044;
  color: white;
}

.servicos .servico-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.servicos .servico-card img {
  max-width: 140px;
  padding-bottom: 1rem;
}

.servicos .servico-card h3 {
  text-align: center;
  font-weight: 900;
}

.servicos .servico-card p {
  text-align: center;
}

.section-cta-1 {
  position: relative;
  padding: 0;
}

.section-cta-1 .cta-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-cta-1 .cta-1-img {
  position: absolute;
  width: 400px;
  height: auto;
  left: 0;
  vertical-align: middle;
}

.section-cta-1 .cta-1-img img {
  width: 100%;
  height: auto;
}

.section-cta-1 .cta-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c40044;
  color: white;
  text-align: right;
}

.section-cta-1 .cta-1 h2 {
  padding: 5rem 0;
}

.section-cta-1 .cta-1 span {
  font-size: 3rem;
}

.section-form {
  padding: 7rem 0;
}

.section-form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-form .container h5 {
  text-align: center;
  margin-bottom: 3rem;
}

.section-form .container form label {
  font-size: 0.8rem;
  font-weight: 700;
}

.section-form .container form input,
.section-form .container form textarea {
  background-color: #fdc400;
  border: 0;
}

.section-form .container form button {
  margin-top: 2rem;
}

.section-cta-2 {
  position: relative;
  padding: 0;
}

.section-cta-2 .cta-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-cta-2 .cta-wrapper .content-wrapper {
  padding: 5rem 0;
}

.section-cta-2 .cta-wrapper .content-wrapper .ifood {
  width: 120px;
  height: auto;
  padding: 1rem 0;
}

.section-cta-2 .cta-wrapper .content-wrapper div {
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-cta-2 .cta-wrapper .content-wrapper div img {
  width: 40px;
  height: auto;
  margin-right: 0.5rem;
}

.section-cta-2 .cta-wrapper .content-wrapper div p {
  margin: 0;
}

.section-cta-2 .cta-2-img {
  position: absolute;
  width: 400px;
  height: auto;
  right: 0;
  vertical-align: middle;
}

.section-cta-2 .cta-2-img img {
  width: 100%;
  height: auto;
}

.section-cta-2 .cta-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #513726;
  color: white;
}

.section-cta-2 .cta-2 h4 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.section-cta-2 .cta-2 span {
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */