@font-face {
  font-family: "corbel";
  src: url("./assets/fonts/corbel.ttf") format("truetype"), url("./assets/fonts/corbelb.ttf") format("truetype");
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  color: #7b4d35;
  font-family: 'corbel', Fallback, sans-serif;
}

html h1,
html h2,
html h3,
html h4,
body h1,
body h2,
body h3,
body h4 {
  font-family: 'corbel';
  font-weight: bold;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.al-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-direction-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  background-color: #7b4d35 !important;
  position: relative;
  height: 120px;
}

nav a {
  color: white;
}

.logo-img {
  width: 140px;
  height: auto;
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.nav-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.nav-img img {
  width: 100%;
  height: auto;
}

.bgimage {
  width: 100%;
  height: 600px;
  background: url("https://raw.githubusercontent.com/opaodopai/opaodopai/main/assets/imgs/BANNER.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.bgimage h5 {
  color: white;
  text-shadow: 2px 2px #333;
}

.containerStyle {
  height: 100%;
}

.containerStyle .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicos {
  margin: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicos h3 {
  text-align: center;
  padding-bottom: 1rem;
}

.servicos a {
  background-color: #c40044;
  color: white;
}

.servicos .servico-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.servicos .servico-card img {
  max-width: 140px;
  padding-bottom: 1rem;
}

.servicos .servico-card h3 {
  text-align: center;
  font-weight: 900;
}

.servicos .servico-card p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */
